---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  text-transform: uppercase;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 3rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background-image: url("/images/backgrounds/honeycomb-pattern-background.svg");
}

.banner {
  padding: 1rem;
}

.masthead {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

nav {
  padding: 1rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;

  @include mobile {
    margin-top: 9px;
    display: block;
    font-size: 1rem;
  }

  a {
    margin: 0 1rem;
    color: black;
    font-weight: 300;
    letter-spacing: 1.5px;
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  background-color: white;
}

footer {
  padding: 20px 0;
  text-align: center;
}

//
// .home
//

.nav-secondary-container {
  width: 100%;
  padding: 1rem 1rem 0rem 1rem;
  background-color: #ffd401;
  
  h1 {
    margin: 1.5rem;
    text-align: center;
  }

  nav {
    background-color: #ffd401;
  }

  p {
    text-align: center;
  }
}

.background {
  background-image: url("/images/backgrounds/honeycomb-pattern-background.svg");
}

.text-wrapper {
  padding: 2rem 0.5rem;
  text-align: center;
  margin: auto auto;
  max-width: 80%;

  @include mobile {
    max-width: 100%;
  }

  h2 {
    background-color: #ffd401;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
  }
}

.home-how-it-works {
  h3 {
    margin-top: 2rem;
  }

  img {
    width: 15%;
  }
}

@media screen and (max-width: 1224px) {
  .home-how-it-works {
    img {
    width: 20%;
    }
  }
}

@media screen and (max-width: 900px) {
  .home-how-it-works {
    img {
    width: 30%;
    }
  }
}

#home-how-it-works-image {
  margin-top: 1.5em;
}

.text-wrapper-text {
  background-color: transparentize(white, .1);
  font-family: 'Lato';
  width: 75%;
  margin: auto auto;
  padding: 1rem;
}

.code-of-conduct-list {
  li {
    margin: 1em;
  }
}

.resources-list {
  padding: 0;
  list-style: none;
}

.footer {
  p {
    font-size: 0.8rem;
    margin: 0;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
